{% extends 'base.html' %} {% block content %} {% load static %}

<h1>{{ card.directory }}</h1>
<h3>
  {{ card.directory }}의 최신 콘텐츠 빠르게 확인하고 트렌디한 개발자되기 👀
</h3>

<div class="container">
  <div class="card">
    <img src="{{card.img}}" class="thumbnail" />
    <div class="card_title">
      <b><p>{{ card.title }}</p></b>
      <p class="card_date">{{ card.date }}</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="card">
    <img src="{{card.img}}" class="thumbnail" />
    <div class="card_title">
      <b><p>{{ card.title }}</p></b>
      <p class="card_date">{{ card.date }}</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="card">
    <img src="{{card.img}}" class="thumbnail" />
    <div class="card_title">
      <b><p>{{ card.title }}</p></b>
      <p class="card_date">{{ card.date }}</p>
    </div>
  </div>
</div>
<div class="container">
  <div class="card">
    <img src="{{card.img}}" class="thumbnail" />
    <div class="card_title">
      <b><p>{{ card.title }}</p></b>
      <p class="card_date">{{ card.date }}</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="card">
    <img src="{{card.img}}" class="thumbnail" />
    <div class="card_title">
      <b><p>{{ card.title }}</p></b>
      <p class="card_date">{{ card.date }}</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="card">
    <img src="{{card.img}}" class="thumbnail" />
    <div class="card_title">
      <b><p>{{ card.title }}</p></b>
      <p class="card_date">{{ card.date }}</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="card">
    <img src="{{card.img}}" class="thumbnail" />
    <div class="card_title">
      <b><p>{{ card.title }}</p></b>
      <p class="card_date">{{ card.date }}</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="card">
    <img src="{{card.img}}" class="thumbnail" />
    <div class="card_title">
      <b><p>{{ card.title }}</p></b>
      <p class="card_date">{{ card.date }}</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="card">
    <img src="{{card.img}}" class="thumbnail" />
    <div class="card_title">
      <b><p>{{ card.title }}</p></b>
      <p class="card_date">{{ card.date }}</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="card">
    <img src="{{card.img}}" class="thumbnail" />
    <div class="card_title">
      <b><p>{{ card.title }}</p></b>
      <p class="card_date">{{ card.date }}</p>
    </div>
  </div>
</div>

{% endblock %}
