{% load static %}
<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />

    <title>TECHALOOK👀</title>
  </head>
  <header>
    <style>
      .nav_ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: white;
      }

      .nav_ul li {
        float: left;
      }

      .nav_ul li a {
        display: block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
    </style>

    <ul class="nav_ul">
      <li>
        <a class="logo" href="/techalook">
          <img src="{% static 'image/Navi-logo.png' %}" style="width: 45%"
        /></a>
      </li>
      <div class="bar">
        <input
          class="searchbar"
          type="text"
          title="Search"
          value="{{card.directory}}"
        />
        {% comment %}
        <a href="" class="detail_search">
          <img
            class="voice"
            src="https://upload.wikimedia.org/wikipedia/commons/7/7e/Vector_search_icon.svg"
            title="Search by Voice"
        /></a>
        {% endcomment %}
      </div>
    </ul>
  </header>
  <body>
    {%block content%} {% endblock %}
  </body>
</html>
